@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 262 83% 58%; /* violet-600 */
        --accent-hover: 263 70% 50%; /* violet-700 */
        --accent-foreground: 262 83% 58%; /* violet-600 */
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 240 5% 64.9%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%/0.6;
        --accent: 252 95% 85%; /* violet-300 */
        --accent-hover: 255 92% 76%; /* violet-400 */
        --accent-foreground: 252 95% 85%; /* violet-300 */
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        @apply overflow-hidden text-[20px];
    }

    body {
        @apply bg-background text-foreground overflow-x-hidden relative;
    }
}

@layer components {
    .container {
        @apply h-full max-w-6xl;
    }

    /* grid cell edge padding (applied to very first or very last cell to have consistent padding) */
    .edge-padding-l {
        @apply pl-4 md:pl-6 lg:pl-8;
    }

    .edge-padding-r {
        @apply pr-4 md:pr-6 lg:pr-8;
    }
}
